body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right,#cf8d5600, #ebb35a);

}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.2);
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #5c4033;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #5c4033;
    font-weight: 500;
}

nav a:hover {
    color: #000;
}

.container {
    display: flex;
}

.left {
    flex: 1;
    background-color: #f1e3c8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
}

.left h1 {
    font-size: 42px;
    margin-bottom: 20px;
    color: #4e342e;
}

.left p {
    font-size: 18px;
    color: #6d4c41;
    line-height: 1.6;
}
.right {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 350px;
}

form h2 {
    margin-bottom: 25px;
    color: #4e342e;
}

form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #d7c2a5;
    background-color: #faf4e6;
}

form input:focus {
    outline: none;
    border-color: #b08968;
    box-shadow: 0 0 8px rgba(176,137,104,0.4);
}

.checkbox {    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
}

.checkbox input {
    width: auto;
    margin-right: 8px;
}
button {
    width: 100%;
    padding: 12px;
    background-color: #b08968;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #8c6a4d;
}
.login {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.login a {
    color: #b08968;
    text-decoration: none;
}
